section.icons
  .container
    .content
      a(href="#")
        i.icon.ion-social-github
      a(href="#")
        i.icon.ion-social-twitter
      a(href="#")
        i.icon.ion-social-youtube-outline
      a(href="#")
        i.icon.ion-ios-paperplane
